<section class="card">
  <div class="card-body">
    <h1>Sobre</h1>
    <ul>
      <li class="lead">Por questões de segurança, o sistema deve possuir algum tipo de autenticação (login e logout
                 utilizando passport.js, auth0, firebase auth, manualmente na base de dados ou qualquer outro
                 tipo de autenticação);</li>
      <li class="lead">A tela inicial deverá conter todas as listas criadas pelo usuário, onde será possível inserir, editar
                 o nome e remover as listas;</li>
      <li class="lead">Ao clicar em uma das listas, o usuário será levado a uma outra página com as tarefas específicas
                 daquela lista. Nessa tela, o usuário deverá ser capaz de executar as seguintes ações:</li>
          
       <ul>
          <li class="lead"> Adicionar, editar e remover uma tarefa; </li> 
          <li class="lead"> Adicionar, editar e remover uma tarefa; </li> 
        </ul>
    </ul>
    <br> <br>
     <h1>Importante</h1>
     <ul>
      <li class="lead">Todos os trabalhos deverão ser entregues em alguma plataforma git (github, gitlab,
                       bitbucket…);</li>
      <li class="lead">Os trabalhos deverão ser acessíveis por meio de algum domínio (sugestão: utilizar zeit/now,
                       netlify, heroku, surge.sh, AWS, Azure…);
      </li>
      <li class="lead">Poderá ser utilizado qualquer banco de dados nas soluções acima, seja local ou “as a service”;</li>
    </ul>
  </div>
</section>
