<div class="jumbotron mt-4">
 <h1 class="display-1">SM Solutions</h1>
 <h2 class="display-4">TO-DO Lists</h1>
 <h2 class="display-6">Este aplicativo foi desenvolvido na plataforma Node atráves da
                       Programação Web Node da Universidade PUC Minas. 
                       Sua utilização é livre!: <a href="/about">Saiba mais!</a></h2>
</div>
